
.boxes > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 200px);
  height: 500px;
  width: 500px;
  gap: 10px;
  grid-template-areas:
    "a b b c d"
    "a e e e e";
}
.div1 {
  grid-area: a;
}
.div2 {
  grid-area: b;
}
.div3 {
  grid-area: c;
}
.div4 {
  grid-area: d;
}
.div5 {
  grid-area: e;
}
@media screen and (max-width: 700px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
      "a a"
      "b b"
      "c d"
      "e e";
  }
}
@media screen and (max-width: 1300px) and (min-width: 760px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
      "a a"
      "b b"
      "c d"
      "e e";
  }
}

/* styling the menu buttons */
@media screen and (max-width: 700px){
.menu{
    display: flex;
}
ul a{
    text-decoration: none;
    justify-content: stretch;
    grid-row: auto;
}
.icons{
    border: 2px solid #ffa94d;
    border-color: black;
    padding: 1rem 3.5rem 1rem 4rem;
    border-style: 2px 5px 2px 5px;
    align-items: center;
    float: none;
    justify-content: space-evenly;
}
/* .icons:hover{
    background-color: aliceblue;
    color: #d9480f;
} */
}