/* .boxes > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 200px);
  height: 500px;
  width: 500px;
  gap: 10px;
  grid-template-areas:
    "a b b c d"
    "a e e e e";
}
.div1 {
  grid-area: a;
}
.div2 {
  grid-area: b;
}
.div3 {
  grid-area: c;
}
.div4 {
  grid-area: d;
}
.div5 {
  grid-area: e;
}
@media screen and (max-width: 700px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
      "a a"
      "b b"
      "c d"
      "e e";
  }
}
@media screen and (max-width: 1300px) and (min-width: 760px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
      "a a"
      "b b"
      "c d"
      "e e";
  }
} */

/* styling the menu buttons */
@media screen and (max-width: 450px) {
  ul {
    margin: 0%;
    padding-left: 0px;
  }
  ul a {
    text-decoration: none;
    display: inline-block;
  }
  .icons {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    width: 95%;
    color: black;
    border-radius: 2px;
  }
  .brandname {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .menu {
    height: 4rem;
  }
  .icons:hover {
    background-color: rgb(3, 10, 0);
    color: white;
    border-radius: 2px;
  }
  .name {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  a {
    text-decoration: none;
    color: white;
  }
  .menu1 {
    margin: 0.5rem;
    box-shadow: 0px 0px 2px 0.2px;
  }
  .navicons1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    padding-right: 4rem;
    height: 80px;
    padding-top: 1.5rem;
  }
  .home1 {
    margin-right: 2rem;
    padding: 1rem;
    background-color: red;
    border-radius: 50px;
    font-size: 15px;
  }
  .about1 {
    margin-right: 2rem;
    padding: 1rem;
    background-color: red;
    border-radius: 50px;
    font-size: 15px;
  }
  .contact1 {
    padding: 1rem;
    background-color: red;
    border-radius: 50px;
    font-size: 15px;
  }
  .brand {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
}
@media screen and (max-width: 1024px) and (min-width: 772px) {
  .navicons2 {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  a {
    text-decoration: none;
  }
  .nav2 {
    display: flex;
    justify-content: space-between;
  }
  .home2 {
    padding-right: 2rem;
  }
  .about2 {
    padding-right: 2rem;
  }
  .brand1 {
    font-size: 15px;
    font-weight: bold;
  }
}
